In [2]:
# LibrerÃ­as
import requests
import pandas as pd

In [3]:
# Verificar la conexiÃ³n a internet.
def verificar_conexion():
    try:
        requests.get("http://www.google.com", timeout=5)
        print('âœ… Conectado a internet.')
        return True
    
    except requests.ConnectionError:
        print('ðŸ›‘ Sin conexiÃ³n a internet.')
        return False

In [ ]:
# ConexiÃ³n con la API de COBS

Link_cops_API = 'https://cobs.si/api/comet_list.api'
try: 
    if verificar_conexion():
        response = requests.get(Link_cops_API)

        if response.status_code == 200:
            content = response.json()
            print('âœ… Base de datos actualizada.')

except requests.ConnectionError: 
    print(f'ðŸ›‘ Se presentÃ³ un error al cargar la base de datos.\nError: {response.status_code}\n{response.content}')

ðŸ›‘ Sin conexiÃ³n a internet.

In [ ]:
Link_cops_API = 'https://cobs.si/api/comet.api?des=C/2023 A3'
response = requests.get(Link_cops_API)
pd.to_datetime(response.json()['object']['perihelion_date'])

Timestamp('2024-09-27 17:48:00')

In [4]:
# ConexiÃ³n con la API de COBS
def Obtener_perihelio():
    try: 
        nombre_cometa = '1P'
        Link_cops_API = f'https://cobs.si/api/comet.api?des={nombre_cometa}'

        if verificar_conexion():
            response = requests.get(Link_cops_API)

            if response.status_code == 200:
                perihelio = pd.to_datetime(response.json()['object']['perihelion_date'])
                print('âœ… Perihelio del cometa obtenido.')
                return perihelio
        
    except requests.ConnectionError:
        print(f'ðŸ›‘ Se presentÃ³ un error al cargar la base de datos.\nError: {response.status_code}\n{response.content}')

Obtener_perihelio()

âœ… Conectado a internet.
âœ… Perihelio del cometa obtenido.

Timestamp('2061-09-06 17:52:00')

In [23]:
cometas_df = pd.DataFrame(content['objects'])
cometas_df

,id,type,name,fullname,mpc_name,icq_name,component,current_mag,perihelion_date,perihelion_mag,peak_mag,peak_mag_date,is_observed,is_active
0,1,N,P/2010 H2,P/2010 H2 (Vales),K10H020,P2010H2,None,14.0,2025-03-09 15:44,12.6,12.5,2025-04-09,True,True
1,2,C,C/2014 UN271,C/2014 UN271 (Bernardinelli-Bernstein),K14UR1N,2014UNR1,None,18.1,2031-01-17 03:51,16.0,15.8,2031-04-04,True,True
2,3,C,C/2020 PV6,C/2020 PV6 (PANSTARRS),K20P06V,2020PV6,None,24.9,2021-09-26 01:47,15.6,14.9,2021-08-05,True,True
3,4,A,A/2021 E4,A/2021 E4,K21E040,A2021E4,None,22.4,2022-04-24 21:51,20.1,19.8,2022-02-21,False,True
4,6,C,C/2021 G3,C/2021 G3 (PANSTARRS),K21G030,2021G3,None,24.9,2021-10-17 20:18,21.4,20.9,2022-01-31,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,2562,N,P/2024 R3,P/2024 R3 (PANSTARRS),K24R030,P2024R3,None,20.0,2024-05-17 00:25,21.1,19.9,2024-10-11,False,True
2229,2563,C,C/2024 R4,C/2024 R4 (PANSTARRS),K24R040,2024R4,None,20.9,2027-10-26 12:38,16.3,16.1,2028-02-29,False,True
2230,2564,P,484P,484P/Spacewatch,484P,0484,None,26.6,2028-03-10 22:56,19.9,19.7,2028-02-08,False,True
2231,2565,P,485P,485P/Sheppard-Tholen,485P,0485,None,23.2,2023-08-24 20:11,22.4,21.5,2024-01-11,False,True
2232,2566,P,486P,486P/Leonard,486P,0486,None,21.1,2025-04-03 20:26,20.5,19.5,2025-09-05,False,True

In [34]:
lista_cometas_df = cometas_df[['name', 'fullname']]
lista_cometas_df.name[lista_cometas_df.fullname.str.contains('Halley')].values[0]

'1P'

In [44]:
'1P' not in lista_cometas_df['name'].to_list()

False

In [50]:
from pathlib import Path

titulo = 'C/2023 A3'

Path('Graficas', f'{titulo}.png')

WindowsPath('Graficas/C/2023 A3.png')

In [40]:
import os 
ruta = os.path.join('Graficas', 'C/2023 A3.png')
ruta

'Graficas\\C/2023 A3.png'

In [46]:
ruta = os.path.join('Graficas', rf'{titulo}.png')
ruta, rf'{titulo}.png'

('Graficas\\C/2023 A3.png', 'C/2023 A3.png')

In [9]:
from datetime import date
print(date.today())

2024-10-01

In [13]:
try: 
    fecha_inicial = '1976-01-01'
    nombre_cometa = '1P'
    Link_cops_API_pagina_1 = f'https://cobs.si/api/obs_list.api?des={nombre_cometa}&format=json&from_date={fecha_inicial} 00:00&page=1&exclude_faint=False&exclude_not_accurate=False'

    if True:
        print(f'\nâŒ› Conectando con la base de datos [COBS Observaciones].')
        response_pagina_1 = requests.get(Link_cops_API_pagina_1)

        if response_pagina_1.status_code == 200:
            content_pagina_1 = response_pagina_1.json()
            numero_de_paginas = int(content_pagina_1['info']['pages'])

            content = content_pagina_1['objects']

            for pagina in range(2, numero_de_paginas + 1):
                Link_cops_API_pagina = f'https://cobs.si/api/obs_list.api?des={nombre_cometa}&format=json&from_date={fecha_inicial}&page={pagina}&exclude_faint=False&exclude_not_accurate=False'
                response_pagina = requests.get(Link_cops_API_pagina)
                content_pagina = response_pagina.json()
                content.extend(content_pagina['objects'])

            print('âœ… Base de datos actualizada [COBS Observaciones].')
        
except:
    print(f'ðŸ›‘ Se presentÃ³ un error al cargar la base de datos.\nError: {response_pagina.status_code}\n{response_pagina.content}')

âŒ› Conectando con la base de datos [COBS Observaciones].
âœ… Base de datos actualizada [COBS Observaciones].

In [14]:
cometa_df = pd.DataFrame(content)
cometa_df['obs_method_key'] = cometa_df.obs_method.apply(
        lambda registro: registro['key'] if registro is not None and 'key' in registro else 'Dato faltante'
        )
cometa_df['obs_date'] = pd.to_datetime(pd.to_datetime(cometa_df.obs_date).dt.date)
cometa_df['magnitude'] = pd.to_numeric(cometa_df.magnitude)

curva_de_luz_cruda_df = cometa_df[['obs_method_key', 'obs_date', 'magnitude']].copy()

cometa_df.sample(5)

,type,obs_date,comet,observer,location,extinction,obs_method,comet_visibility,magnitude,conditions,...,comparison_star_magnitude,pixel_size_x,pixel_size_y,pixel_size_unit,obs_comment,obs_sky_quality,obs_sky_quality_method,reference_star_names,date_added,obs_method_key
468,V,1986-06-03,"{'type': 'P', 'name': '1P', 'fullname': '1P/Ha...","{'first_name': 'Reinder J.', 'last_name': 'Bou...",None,None,"{'key': 'S', 'name': 'In-Out method', 'source'...",None,7.4,None,...,None,None,None,None,,None,NaN,,2022-05-08 10:53:49,S
931,V,1986-05-06,"{'type': 'P', 'name': '1P', 'fullname': '1P/Ha...","{'first_name': 'Vladimir G.', 'last_name': 'Mo...",None,None,"{'key': 'B', 'name': 'Simple Out-Out method', ...",None,4.9,None,...,None,None,None,None,,None,NaN,,2022-05-08 10:54:15,B
439,V,1986-06-07,"{'type': 'P', 'name': '1P', 'fullname': '1P/Ha...","{'first_name': 'Richard A.', 'last_name': 'Kee...",None,None,"{'key': 'K', 'name': 'Clear filter used on SOH...",None,7.4,None,...,None,None,None,None,,None,NaN,,2022-05-08 10:53:48,K
4468,V,1985-12-13,"{'type': 'P', 'name': '1P', 'fullname': '1P/Ha...","{'first_name': 'Charles S', 'last_name': 'Morr...",None,None,"{'key': 'M', 'name': 'Modified-Out method', 's...",None,4.8,None,...,None,None,None,None,,None,NaN,,2022-05-08 10:57:30,M
1377,V,1986-04-26,"{'type': 'P', 'name': '1P', 'fullname': '1P/Ha...","{'first_name': 'A.', 'last_name': 'Krylov', 'i...",None,None,"{'key': 'B', 'name': 'Simple Out-Out method', ...",None,5.3,None,...,None,None,None,None,,None,NaN,,2022-05-08 10:54:39,B